/* All Pages*/

.trueTitle{

}
.socialMedia{
	
}
#sidebar {
}
/*default box is block display*/

.header{
	background:lightgrey;
	margin:auto;
	width:1500px; /*width cannot be a percent if you want to use margin to center*/
	clear:both;
	height:;
	opacity:0.5;
	z-index:2;
	border:solid;

}
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visiblity:hidden;
	height:0;
	line-height:0;
}
.mainBack {
	background-image: url("http://1.bp.blogspot.com/-ZsbyUW5TFPM/T-8yYBlcVFI/AAAAAAAAABE/Ux-SoDS24i0/s1600/landscape-green-landscape-mountain-nature-tree-water.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	z-index:1;

}
.above{
	height:10px;
	width:25%;
	padding:1%;
	margin:1%;
	float:left;
	text-align:center;
	border:double;
	z-index:100;

}
#nav_bar{
	height:10px;
	width:20%;
	margin:1%;
	padding:1%;
	float:right;
	z-index:100;
	border:none none solid none;
}
.navElement{
	display:inline-block;
	margin:5px;
	border-width:2px;
	border-color:#000;
	text-decoration:none;
	color:grey;
}
.linkBox {
	background:lightblue;
	padding:1%;
	height:500px;
	width:31.333%;
	margin:1%;
	border:solid;
	border-width:1%;
	float:left;
	text-align:center;
	opacity:0.0;
	box-sizing:border-box;
}
.below{
	background:grey;
	height:100px;
	width:94%;
	margin:3%;
	float:left;
	text-align:center;
	clear:both;
	opacity:0.3;
}
.wrapper{
	margin:auto;
	width:1000px; /*width cannot be a percent if you want to use margin to center*/
	clear:both;
}

/*Contact Page*/

/*About Me*/

/*Project Page*/